
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\e803'; } /* '' */
.icon-clock:before { content: '\e804'; } /* '' */
.icon-apple:before { content: '\e805'; } /* '' */
.icon-android:before { content: '\e806'; } /* '' */
.icon-up-arrow:before { content: '\e807'; } /* '' */